# Environment variables
.env

# PyCharm
.idea/

# Python
__pycache__/
*.pyc

# Virtual environment
venv/
lovableclone/

# Generated folders
generated_projects/
agent/generated_projects/
agent/generated_project/

# Lock files
uv.lock